* {
    margin: 0;
    padding: 0;
  }

  .fontstyle {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .body_bg{
    background-color: #f1f1f3;
  }

/* For navbar */
  nav {
    padding: 24px 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  nav h1 {
    color: #0e0e0e;
    font-size: 32px;
    font-weight: 700;
  }
  nav button {
    padding: 15px 30px;
    color: #006a50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
  }

  /* Background color */
  .center {
    margin: 0 auto;
  }
  .bg-color-1 {
    background-color: #c6e4d6;
  }
  .bg-color-2 {
    background: rgba(84, 144, 245, 0.2);
  }
  .bg-color-3 {
    background: #f7ebcf;
  }
  .bg-color-4 {
    background-color: #006a50;
  }
  .card-bg-1 {
    background-color: #5490f5;
  }
  .card-bg-2 {
    background-color: #09a15c;
  }
  .card-bg-3 {
    background-color: #ffc239;
  }
  .card-btn {
    padding: 11px 20px;
    border-radius: 8px;
    font-family: "Fira Sans";
    color: #fff;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: 0.2s;
    cursor: pointer;
  }
  .primary-btn-1 {
    padding: 17px 34px;
    font-family: "Fira Sans";
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    transition: 0.2s;
    cursor: pointer;
  }
  .primary-btn-2 {
    padding: 13px 26px;
    border-radius: 8px;
    background: #006a50;
    font-family: "Fira Sans";
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: 0.2s;
    cursor: pointer;
  }
  
  /* banner style */

.banner {
    margin: 0 160px 80px 160px;
    border-radius: 24px;
    background: #c6e4d6;
    padding: 80px 100px;
    /* width: 1000px; */
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }
  /* .disc{
    flex: 1;
  } */
  .disc h4 {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .disc h1 {
    color: #0e0e0e;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 24px;
    /* width: 500px; */
  }
  
/* main style */

main {
    margin: 0 160px;
  }
  /* pillars style */
  .pillar_cards {
    display: flex;
    gap: 24px;
  }
  .pillar_card {
    width: 350px;
    padding: 24px 24px 0 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #fff;
    margin-bottom: 80px;
  }

  /* primary card style */
.card_title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .card_para {
    color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
  }
  
  .section_title {
    color: #0e0e0e;
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  /* vision style */
.vision-cards {
    margin: 32px 0;
    display: flex;
    /* justify-content: center; */
    gap: 24px;
  }
  .vision-card {
    width: 450px;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* quote section style */
  
  .quote {
    margin-bottom: 80px;
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
  
    background: url(./assets/quote-bg.png), #fff;
    background-repeat: no-repeat;
    background-position: 25px 22px;
  }
  .quote .speech {
    color: rgba(14, 14, 14, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .quote h3 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
  }
  .quote .designation {
    color: rgba(14, 14, 14, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  /* opinion style */
  .opinion {
    margin-bottom: 80px;
  }
  .questions {
    padding: 32px;
    background: white;
    border-radius: 16px;
  }
  table {
    border-collapse: collapse;
    width: 1520px;
  }
  td,
  th {
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
  }
  tr .question {
    padding: 24px;
    width: 950px;
  
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 600;
  }
  .ans {
    width: 145px;
    padding: 24;
    text-align: center;
  }
  th div {
    padding: 24px;
    display: flex;
    justify-content: space-between;
  
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: #c6e4d6;
  }
  th div h3 {
    color: #0e0e0e;
    font-size: 17px;
    font-weight: 600;
  }
  
  .ans select {
    font-family: "Fira Sans", serif;
    padding: 8px 10px;
  
    border-radius: 4px;
    border: 1px solid #0e0e0e;
    background: #c6e4d6;
    cursor: pointer;
  
    color: #0e0e0e;
    font-size: 15px;
    font-weight: 500;
  }
  /* recent news */
  .news {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 24px;
    padding: 48px;
  
    border-radius: 24px;
    background: #fff;
  }
  .news > img {
    border-radius: 24px;
  }
  .disc {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .disc h2 {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .time {
    margin: 10px 0;
    display: flex;
    gap: 10px;
  }
/* donate section style */

.donate {
    margin: 56px 0 80px 0;
    padding: 0 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .amount-btn {
    display: flex;
    gap: 20px;
  }
  .amount-btn button {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #fff;
    font-family: "Fira Sans";
    color: rgba(14, 14, 14, 0.8);
    font-size: 33px;
    font-weight: 700;
    margin: 10px 0 32px 0;
  }
  button[class="selected"] {
    background-color: #c6e4d6;
  }
  
  .amount-input input {
    width: 830px;
    padding: 20px 40px;
  
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    margin-bottom: 38px;
  }
  
  .amount-input input::placeholder {
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 400;
  }

  /* hover effects */

.amount-btn:hover > button {
    background-color: white;
  }
  .amount-btn button:hover {
    background: #c6e4d6;
    transition: 0.5s;
  }
  
  nav button:hover {
    background: #006a50;
    color: #fff;
  }
  
  .primary-btn-1:hover {
    box-shadow: 2px 2px 5px rgb(70, 0, 0);
  }
  .primary-btn-2:hover {
    box-shadow: 2px 2px 5px rgb(70, 0, 0);
  }
  .card-btn:hover {
    box-shadow: 2px 2px 5px rgb(70, 0, 0);
  }



  /* footer section */

footer {
    padding: 50px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  footer h3 {
    color: #0e0e0e;
    font-size: 29px;
    font-weight: 700;
  }
  footer .socialicon {
    display: flex;
    justify-content: center;
    gap: 23px;
  }
  footer hr {
    width: 1100px;
    height: 1px;
    background: rgba(14, 14, 14, 0.1);
    margin: 32px 0;
    border: none;
  }
  /* footer effect */
  .socialicon img:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }

  /* subscribe section style */

.subscribe {
    margin-bottom: 80px;
    padding: 80px 100px;
    border-radius: 24px;
  }
  .subscribe .input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }
  .subscribe .input input {
    padding: 18px 40px;
    width: 500px;
    border-radius: 8px 0 0 8px;
    background: #fff;
    border: none;
  
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 400;
  }
  .subscribe .input button {
    padding: 17px 40px;
    border-radius: 0 8px 8px 0;
    background: #006a50;
    border: none;
  
    color: #fff;
    font-family: "Fira Sans";
    font-size: 15px;
    font-weight: 600;
  
    transition: 0.2s;
    cursor: pointer;
  }
  
  .subscribe .input input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans";
    font-size: 14px;
    font-weight: 400;
  }
  .center-text{
    text-align: center;
  }

  /* Subscribe Effect */
  
  .subscribe .input button:hover {
    box-shadow: 2px 2px 5px rgb(255, 0, 0);
  }